.hourglass {
  background-repeat: no-repeat; }

.hourglass000 {
  background-image: url(/images/komideals/icons/hourglass/hourglass000.gif?1286479406); }

.hourglass001 {
  background-image: url(/images/komideals/icons/hourglass/hourglass001.gif?1286479406); }

.hourglass002 {
  background-image: url(/images/komideals/icons/hourglass/hourglass002.gif?1286479406); }

.hourglass003 {
  background-image: url(/images/komideals/icons/hourglass/hourglass003.gif?1286479406); }

.hourglass004 {
  background-image: url(/images/komideals/icons/hourglass/hourglass004.gif?1286479406); }

.hourglass005 {
  background-image: url(/images/komideals/icons/hourglass/hourglass005.gif?1286479406); }

.hourglass006 {
  background-image: url(/images/komideals/icons/hourglass/hourglass006.gif?1286479406); }

.hourglass007 {
  background-image: url(/images/komideals/icons/hourglass/hourglass007.gif?1286479406); }

.hourglass008 {
  background-image: url(/images/komideals/icons/hourglass/hourglass008.gif?1286479406); }

.hourglass009 {
  background-image: url(/images/komideals/icons/hourglass/hourglass009.gif?1286479406); }

.hourglass010 {
  background-image: url(/images/komideals/icons/hourglass/hourglass010.gif?1286479406); }

.hourglassfinal {
  background-image: url(/images/komideals/icons/hourglass/hourglassfinal.gif?1286479406); }

.hourglasssoldout {
  background-image: url(/images/komideals/icons/hourglass/hourglasssoldout.gif?1286479406); }

.demographic_side_rail {
  display: none; }

.cached .logged_in {
  display: none; }

#nav .cached .rewards {
  display: none; }
